<mat-drawer-container>
  <mat-drawer #drawer [mode]="drawerMode" [opened]="drawerOpened">
    <nav>
      <div class="sidebar-header">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="#2e6643" fill="none">
            <path d="M14.8541 4H9.14593C6.6503 4 4.52873 5.68344 3.75294 8.02892C3.49753 8.80111 3.36982 9.18721 3.69065 9.59361C4.01149 10 4.53377 10 5.57833 10H18.4217C19.4662 10 19.9885 10 20.3093 9.59361C20.6302 9.18721 20.5025 8.80111 20.2471 8.02892C19.4713 5.68344 17.3497 4 14.8541 4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4 16H3.5C2.67157 16 2 15.3284 2 14.5C2 13.6716 2.67157 13 3.5 13H11.3944C11.7893 13 12.1753 13.1169 12.5038 13.3359L14.4453 14.6302C14.7812 14.8541 15.2188 14.8541 15.5547 14.6302L17.4962 13.3359C17.8247 13.1169 18.2107 13 18.6056 13H20.5C21.3284 13 22 13.6716 22 14.5C22 15.3284 21.3284 16 20.5 16H20M4 16L4.4319 17.7276C4.76578 19.0631 5.96573 20 7.34233 20H16.6577C18.0343 20 19.2342 19.0631 19.5681 17.7276L20 16M4 16H11M20 16H18.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15.0078 7L14.9988 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10.5 6.5L9.5 7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>

      <div class="nav-links">
        
        <ng-container *ngIf="rol === 0 || rol === 1 || rol === 3">
          <button class="nav-button" [routerLink]="['/private/menu']" routerLinkActive="active">
            <mat-icon>restaurant_menu</mat-icon>
            <span>Menú</span>
          </button>

          <button class="nav-button" [routerLink]="['/private/orders-view']" routerLinkActive="active">
            <mat-icon>receipt_long</mat-icon>
            <span>Órdenes</span>
          </button>
        </ng-container>

        <ng-container *ngIf="rol === 4">
          <button class="nav-button" [routerLink]="['/private/menu']" routerLinkActive="active">
            <mat-icon>restaurant</mat-icon>
            <span>Hacer Pedido</span>
          </button>

          <button class="nav-button" [routerLink]="['/private/orders-view']" routerLinkActive="active">
            <mat-icon>history</mat-icon>
            <span>Mis Órdenes</span>
          </button>
          
          <button class="nav-button" [routerLink]="['/private/profile']" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>Mi Perfil</span>
          </button>
        </ng-container>

        <ng-container *ngIf="rol === 0 || rol === 1">
          <button class="nav-button" [routerLink]="['/private/user-view']" routerLinkActive="active">
            <mat-icon>people</mat-icon>
            <span>Usuarios</span>
          </button>

          <button class="nav-button" [routerLink]="['/private/dash-admin']" routerLinkActive="active">
            <mat-icon>bar_chart</mat-icon>
            <span>Ventas</span>
          </button>
        </ng-container>

      </div>

      <!-- Gráfica de productos favoritos para clientes -->
      <ng-container *ngIf="rol === 4 && hasChartData">
        <div class="sidebar-chart">
          <h4><mat-icon style="font-size: 18px; width: 18px; height: 18px; vertical-align: middle;">bar_chart</mat-icon> Mis Favoritos del Mes</h4>
          <div class="chart-wrapper">
            <canvas baseChart [data]="clientChartData" [type]="'pie'" [options]="sidebarChartOptions"></canvas>
          </div>
        </div>
      </ng-container>

      <div class="sidebar-footer">
        <button class="nav-button logout-button" (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <header>
      <div class="header-left">
        <button class="menu-toggle" *ngIf="isMobile" (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-icon style="color: var(--pos-gold); transform: scale(1.5);">lunch_dining</mat-icon>
        <h2>AS Burger</h2>
      </div>
      <div class="header-right">
        <!-- Theme Toggle Button -->
        <label class="swap swap-rotate btn btn-circle btn-ghost">
          <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()" />
          <!-- sun icon -->
          <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/>
          </svg>
          <!-- moon icon -->
          <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/>
          </svg>
        </label>
        
        <div class="role-badge" [class.chef]="rol===2" [class.client]="rol===4">
            {{ getRoleName() }}
        </div>
        <span class="user-name">{{ user }}</span>
      </div>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>